<div class="widget widget-table action-table">
  <div class="widget-header">
    <i class="icon-facetime-video"></i>
    <h3>Categories</h3>
  </div>
  <div id="categories" class="widget-content">
    <table class="table table-bordered table-stripped">
      <thead>
        <th>Category</th>
        <th>Expense this Month</th>
        <th>Expense last 3 months</th>
        <th>Expense this year</th>
      </thead>
      <tbody>
        <%- Category.expense_categories.each do |c| -%>
          <tr>
            <td>
              <a href="#category_<%=c.id%>" class="category-tree">
                <i class="badge icon icon-plus"></i>
              </a>
              <%# link_to_function(raw("<i class='badge icon icon-plus'></i>"),"$('.category_#{c.id}').slideToggle('slow');$(this).find('i').toggleClass('icon-plus').toggleClass('icon-minus')") %>
              <span class="label"><%= c.name %></span> 
            </td>
            <td><%=rs c.expense_this_month %></td>
            <td><%=rs c.expense_last_3_months %></td>
            <td><%=rs c.expense_this_year %></td>
          </tr>
          <tbody id="category_<%=c.id%>" style="display:none;">
            <% c.categories.each do |subc| %>
              <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info"><%= subc.name %></span> </td>
                <td><%=rs subc.expense_this_month %></td>
                <td><%=rs subc.expense_last_3_months %></td>
                <td><%=rs subc.expense_this_year %></td>
              </tr>
            <%- end -%> 
          </tbody>
        <%- end -%>
      </tbody>
    </table>
  </div>  
</div>  

