<%- if @account -%>
  <%= render :partial => 'transaction_sidebar' %>
<%- else -%>
  <%= render :partial => 'category_sidebar' %>
<%- end -%>

<div class="span9">
  <div class="widget widget-table action-table">
    <div class="widget-header">
          <i class="icon-money"></i>
          <h3>Transactions in <%= @account.nil? ? @category.name : @account.name %></h3>
    </div>
    <div id="transactions" class="widget-content">
      <table class="table table-bordered table-stripped">
        <thead>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Balance</th>
          <th></th>
        </tr>

        <%- tc = Category.find_by_name('transfer') -%>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%=l transaction.date %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.category.category.nil? ? transaction.category.name : transaction.category.category.name %></td>
            <td><%= transaction.category.name %></td>
            <td>
              <%- if transaction.t_type == Transaction::TYPE_CREDIT %>
                <span class="label label-success">Credit</label>
              <%- else -%>
                <span class="label label-warning">Debit</label>
              <%- end -%>
            </td>
            <td><%=rs transaction.amount %></td>
            <td><%=rs transaction.balance %></td>
            <td><%= link_to raw('<i class="icon-edit"></i>'),edit_transaction_path(transaction) if transaction.category != tc%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
