<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var income_expense_data = google.visualization.arrayToDataTable([
          ['Month', 'Income', 'Expense'],
          <%- @report.each do |r| -%>
            [<%=raw [r[:date].strftime('"%b"'), r[:income], r[:expense]].join(",") %>],
          <%- end -%>
        ]);
        var chart = new google.visualization.LineChart(document.getElementById('income_expense'));
        chart.draw(income_expense_data, {title : 'Finance Performance'});

        var nav_data = google.visualization.arrayToDataTable([
          ['Month', 'Savings', 'Debt', 'Investment', 'NAV'],
          <%- @report.each do |r| -%>
            [<%=raw [r[:date].strftime('"%b"'), r[:balance][:savings], r[:balance][:debt], r[:balance][:investment], r[:balance][:nav]].join(",") %>],
          <%- end -%>
        ]);
        var chart = new google.visualization.LineChart(document.getElementById('nav'));
        chart.draw(nav_data, {title : 'Finance Performance'});
      }
</script>
<h3>Reports</h3>
<div class="span6">
  <div class="widget widget-table action-table">
    <div class="widget-header">
      <h3>Financial Health</h3>
    </div>

    <div class="widget-content">
      <div id="income_expense" style="height:350px">
      </div>
    </div>
  </div>
</div>


<div class="span6">
  <div class="widget widget-table action-table">
    <div class="widget-header">
      <h3>Net Asset Value</h3>
    </div>

    <div class="widget-content">
      <div id="nav" style="height:350px">
      </div>
    </div>
  </div>
</div>

<div class="span12">
  <div class="widget widget-table action-table">
    <div class="widget-header">
      <h3>Net Asset Value</h3>
    </div>

    <div class="widget-content">
      <table class="table table-bordered table-striped">
        <thead>
          <th></th>
          <%- @report.each do |r| -%>
            <th><%= r[:date].strftime('%b') %></th>
          <%- end -%>
          <th>Total</th>
          <th>Average</th>
        </thead>
        <tbody>
          <%- [:income, :expense, :savings].each do |t| -%>
            <tr>
              <td><%= t.to_s.titleize %></td>
              <%- balance = 0 -%>
              <%- @report.each do |r| -%>
                <td><%=rs r[t] %></td><%- balance += r[t] %>
              <%- end -%>
              <td><%=rs balance %></td>
              <td><%=rs balance/@report.length %></td>
            </tr>
          <%- end %>
          <%- @categories.each do |cat| -%>
            <tr>
              <td><%= link_to(cat[:cat].name.titleize, category_transactions_path(cat[:cat])) %></td>
              <%- balance = 0 -%>
              <%- cat[:expense].each do |e| -%>
                <td><%=rs(e) %></td><%- balance += e %>
              <%- end -%>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>

