<ul class="mainnav">
  <li class="<%= 'active' if controller.controller_name == 'home' %>">
  <a href="/">
    <i class="icon-dashboard"></i>
    <span>Dashboard</span>
  </a>	    				
  </li>

  <li class="<%= 'active' if controller.controller_name == 'accounts' %>">
  <a href="/accounts">
    <i class="icon-briefcase"></i>
    <span>Accounts</span>
  </a>  									
  </li>

  <li class="<%= 'active' if controller.controller_name == 'transactions' %>">
  <a href="/transactions">
    <i class="icon-money"></i>
    <span>Transactions</span>
  </a>	    				
  </li>

  <li class="<%= 'active' if controller.controller_name == 'category' %>">
  <a href="/categories">
    <i class="icon-bar-chart"></i>
    <span>Categories</span>
  </a>    				
  </li>

  <li class="<%= 'active' if controller.controller_name == 'reports' %>">
  <a href="/reports">
    <i class="icon-bar-chart"></i>
    <span>Reports</span>
  </a>	  				
  </li>

</ul>

