<tr>
  <td><%= link_to(account.name,account) %></td>
  <td><%= account.number %></td>
  <td><%= account.branch %></td>
  <td><%= account.ac_type %></td>
  <td><%= rs account.closing_balance %></td>
</tr>
