<div class="card">
  <ul class="table-view">

    <li class="table-view-cell table-view-divider">Savings Account</li>

    <%- balance = 0 %>
    <%- @saving_accounts.each do |account| -%>
      <%- balance += account.closing_balance -%>
      <li class="table-view-cell">
      <a class="navigate-right" href="/accounts/<%=account.id%>/transactions" data-ignore="push">
        <span class="badge <%= (account.closing_balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs account.closing_balance %></span>
        <%= account.name %>
      </a>
      </li>
    <%- end -%>

    <li class="table-view-cell table-view-divider">
    <span class="badge <%= (balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs balance %></span>
    Total
    </li>

  </ul>
</div>

<div class="card">
  <ul class="table-view">

    <li class="table-view-cell table-view-divider">Debt Account</li>

    <%- @debt_accounts.each do |account| -%>
      <%- balance += account.closing_balance -%>
      <li class="table-view-cell">
      <a class="navigate-right" href="/accounts/<%=account.id%>/transactions" data-ignore="push">
        <span class="badge <%= (account.closing_balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs account.closing_balance %></span>
        <%= account.name %>
      </a>
      </li>
    <%- end -%>

    <li class="table-view-cell table-view-divider">
    <span class="badge <%= (balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs balance %></span>
    Total
    </li>

  </ul>
</div>


<div class="card">
  <ul class="table-view">

    <li class="table-view-cell table-view-divider">Investment Account</li>

    <%- @investment_accounts.each do |account| -%>
      <%- balance += account.closing_balance -%>
      <li class="table-view-cell">
      <a class="navigate-right" href="/accounts/<%=account.id%>/transactions" data-ignore="push">
        <span class="badge <%= (account.closing_balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs account.closing_balance %></span>
        <%= account.name %>
      </a>
      </li>
    <%- end -%>

    <li class="table-view-cell table-view-divider">
    <span class="badge <%= (balance > 0) ? 'badge-positive' : 'badge-negative'%>"><%= rs balance %></span>
    Total
    </li>

  </ul>
</div>


