<div class="widget widget-table action-table">
  <div class="widget-header">
      <i class="icon-briefcase"></i>
      <h3>Accounts</h3>
  </div>

  <div id="transactions" class="widget-content">
    <table class="table table-bordered table-stripped">
      <thead>
        <th>Name</th>
        <th>Account Number</th>
        <th>Branch</th>
        <th>Account Type</th>
        <th>Balance</th>
      </thead>
      <tbody>
        <%- balance = 0 %>
        <tr><td colspan=5>Saving Accounts</td></tr>
        <%- @saving_accounts.each do |account| -%>
          <%- balance += account.closing_balance -%>
          <%= render :partial => "account", :locals => {:account => account} %>
        <%- end -%>
        <tr>
          <td colspan=4><b>Total</b></td>
          <td><b><%=rs(balance)%></b></td>
        </tr>

        <tr><td colspan=5>Debt Accounts</td></tr>
        <%- @debt_accounts.each do |account| -%>
          <%- balance += account.closing_balance -%>
          <%= render :partial => "account", :locals => {:account => account} %>
        <%- end -%>
        <tr>
          <td colspan=4><b>Total</b></td>
          <td><b><%= rs(balance)%></b></td>
        </tr>

        <tr><td colspan=5>Investment Accounts</td></tr>
        <%- @investment_accounts.each do |account| -%>
          <%- balance += account.closing_balance -%>
          <%= render :partial => "account", :locals => {:account => account} %>
        <%- end -%>
        <tr>
          <td colspan=4><b>Total</b></td>
          <td><b><%=rs(balance)%></b></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
 
